* {
	margin: 0; padding: 0;
}

body {
	font-size: 110%; line-height: 1.4;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #34495e; background-color: white;
}

a, a:visited {
	text-decoration: none; color: #34495e;
}

input, span.button {
	padding: .2em;
	font-size: 80%; line-height: 1;
	border: none; background-color: #f0f0f0;
	--webkit-appearance: none;
}

input[type="submit"],
span.button {
	color: white; background-color: #34495e;
	cursor: pointer;
}
input[type="submit"]:hover,
span.button:hover {
	background-color: #44596e;
}

.container {
	margin: 0 auto; padding: 0 1em;
	max-width: 35em;
}
