* {
	margin: 0; padding: 0;
}

body {
	font-size: 110%; line-height: 1.4;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #34495e; background-color: white;
	margin-bottom: 1em;
}

a, a:visited {
	text-decoration: none; color: #34495e;
}

input, button {
	padding: .2em;
	font-size: 80%;
	line-height: 1;
	border: none; background-color: #f0f0f0;
	--webkit-appearance: none;
}

input[type="text"] {
	background-color: #f0f0f0;
	border: .1em solid #f0f0f0;
	padding: .25em .3em;
	font-size: 92%;
}
input[type="text"]:focus {
	outline: none;
	border-color: #aaa;
}

input[type="submit"],
span.button,
a.button,
button {
	padding: .2em .3em;
	line-height: 1;
	color: white; background-color: #34495e;
	cursor: pointer;
}
span.button,
a.button {
	display: inline-block;
	text-align: center;
}
input[type="submit"]:hover,
span.button:hover,
a.button:hover,
button:hover {
	background-color: #44596e;
}

.container {
	margin: 0 auto; padding: 0 1em;
	max-width: 35em;
}
