#directory #files {
	width: 100%; margin: .7em 0 1em 0;
	border-spacing: 0;
}

#directory #files input[type="submit"],
#directory #files button {
	line-height: 1.5;
	border-radius: 0;
}

#directory #files .file:hover {
	background-color: #eee;
}

#directory #files .file .file-name {
	padding: 0 .5em;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

#directory #files .file .file-name a {
	display: block;
}

#directory #files .file .file-name .file-suffix {
	margin-left: .2em;
	color: #999;
}

#directory #files .file .file-size {
	padding: .2em .5em 0 .5em;
	font-size: 90%;
	text-align: right;
	color: #999;
	font-family: monospace;
	white-space: nowrap;
}

#directory #files .file .file-actions {
	width: 3.5em; text-align: right;
}
#directory #files .file .file-actions-delete-button,
#directory #files .file .file-actions-airplay-button {
	vertical-align: middle;
}

#directory #files .file .file-actions-delete-button {
	color: #e74c3c;
	background-color: transparent;
}
#directory #files .file .file-actions-delete-button:hover {
	color: white;
	background-color: #e74c3c;
}

#directory #files .file .file-actions-airplay-button {
	color: #34495e;
	background-color: white;
}
#directory #files .file .file-actions-airplay-button:hover {
	color: white;
	background-color: #34495e;
}
