* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 120%;
	line-height: 1.4;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #34495e;
	background-color: white;
}

a, a:visited {
	text-decoration: none;
	color: #34495e;
}

input {
	padding: .2em;
	font-size: 80%;
	line-height: 1;
	border: none;
	background-color: #f0f0f0;
	--webkit-appearance: none;
}

input[type="submit"] {
	color: white;
	background-color: #34495e;
	cursor: pointer;
	border-radius: .2em;
}
input[type="submit"]:hover {
	background-color: #4d6b8a;
}

.container {
	margin: 0 auto;
	max-width: 35em;
}
