#directory #files {
	width: 100%;
	margin: .7em 0 1em 0;
	border-spacing: 0;
}

#directory #files .file td {
	padding: .2em 0;
	border-bottom: 1px solid transparent;
}
#directory #files .file:hover td {
	border-bottom-color: #bbb;
}

#directory #files .file .file-name a {
	display: block;
}
#directory #files .file .file-name a:hover {
	color: #333;
}
#directory #files .file .file-name a:active {
	color: #000;
}

#directory #files .file .file-actions{
	width: 3.5em;
	text-align: right;
}

#directory #files .file .file-actions form input{
	vertical-align: middle;
}
