#menu {
	color: white;
	background-color: #34495e;
	border-bottom: 1px solid #bbb;
}

#menu #breadcrumb {
	margin-left: -.8em;
	line-height: 2.3;
	list-style: none;
}

#menu #breadcrumb li {
	display: inline-block;
}

#menu #breadcrumb li a {
	position: relative;
	display: inline-block;
	padding: 0 .4em;
	margin-right: 1.4em;
	background-color: transparent;
	color: #ddd;
}
#menu #breadcrumb li a:hover, #breadcrumb li.active a {
	color: #fff;
}
#menu #breadcrumb li a:after {
	content: " / ";
	display: block;
	position: absolute;
	top: 0;
	left: 100%;
	padding: 0 .7em;
	display: block;
	color: #d0d0d0;
}

#menu #breadcrumb li:last-child a:after {
	display: none;
}
