#upload{
	display: block;
	margin-top: .7em;
	margin-bottom: 1em;
}

#upload #upload-files{
	display: block;
	padding: .3em 1em;
	background-color: #f0f0f0;
	cursor: pointer;
	text-align: center;
}

#upload #upload-files input{
	/*display: none;*/
	font-size: 90%;
}

#upload #upload-submit{
	display: block;
	width: 100%;
	padding: .5em 1em;
	font-size: 100%;
	border-radius: 0;
}

